:root {
    /*這裡放global variables*/
    --c: center;
}

.middle {
    text-align: var(--c);
    
}
@media (max-width: 700px) {
    .middle {
        text-align: var(--c);
    }
    p {
        font-size: smaller;
    }
}

.button {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: azure;
}
.obj {
    margin: 0 auto;
}

