:root {
    /*這裡放global variables*/
    --c: center;
}

.middle {
    text-align: var(--c);
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 700px) {
    .middle {
        text-align: var(--c);
    }
    .flex-button {
        display: flex; /*flex排列*/
        flex-direction: row;
        flex-wrap: nowrap; /*超過不換行*/
        justify-content: space-around;
        padding: 10px;
    }
    .button {
        background-color: green;
        border: none;
        border-radius: 5px;
        color: azure;
    }
    .inputMargin {
        margin-top: -10px;
        margin-right: 5px;
        vertical-align: text-bottom;
    }
}
.flex-button {
    display: flex; /*flex排列*/
    flex-direction: row;
    flex-wrap: nowrap; /*超過不換行*/
    justify-content: center;
    padding: 10px;
}
.button {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: azure;
    margin-left: 5px;
    margin-right: 5px;
}
.obj {
    margin: 0 auto;
    height: 400px;
}
.button_clicked {
    background-color: azure;
    border: none;
    border-radius: 5px;
    color: green;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid yellow;
}
.flex-container {
    display: flex; /*flex排列*/
    flex-direction: row;
    flex-wrap: nowrap; /*超過不換行*/
    justify-content: flex-start;
}
.inputMargin {
    margin-top: -10px;
    margin-right: 5px;
}

