:root {
    /*這裡放global variables*/
    --c: center;
}

.middle {
    text-align: var(--c);
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px) { /*手機優先*/
    .middle {
        text-align: var(--c);
    }
    .flex-button {
        display: flex; /*flex排列*/
        flex-direction: row;
        flex-wrap: nowrap; /*超過不換行*/
        justify-content: space-around;
        padding: 10px;
    }
    .button {
        background-color: green;
        border: none;
        border-radius: 5px;
        color: azure;
    }
    .inputMargin {
        margin-top: 10px;
        margin-right: 5px;
        vertical-align: text-bottom;
    }
    .button:hover {
        background-color: azure;
        border: none;
        border-radius: 5px;
        color: green;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid yellow;
    }
    .showOnPhone {
        opacity: 1;
    }
}
.flex-button {
    display: flex; /*flex排列*/
    flex-direction: row;
    flex-wrap: nowrap; /*超過不換行*/
    justify-content: center;
    padding: 10px;
}
.button {
    background-color: green;
    border: none;
    border-radius: 5px;
    color: azure;
    margin-left: 5px;
    margin-right: 5px;
}
.obj_50 {
    margin: 0 auto;
    height: 400px;
}
.button:hover {
    background-color: azure;
    border: none;
    border-radius: 5px;
    color: green;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid yellow;
}
.button_clicked {
    background-color: azure;
    border: none;
    border-radius: 5px;
    color: green;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid yellow;
}
.showOnPhone {
    opacity: 0;
}
.delLine {
    text-decoration-line: line-through;
}
.flex-container {
    display: flex; /*flex排列*/
    flex-direction: row;
    flex-wrap: nowrap; /*超過不換行*/
    justify-content: flex-start;
}
.inputMargin {
    margin-top: -10px;
    margin-right: 5px;
}
.closebox {
    display: inline-block;
    width: 50px;
    height: 50px;
}
.image_rotate_90 { /*順時針旋轉*/
    animation: rotation_90 1s;
    animation-fill-mode: forwards;
    -webkit-animation: rotation_90 1s forwards;
}
@-webkit-keyframes rotation_90 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@keyframes rotation_90 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
.image_rotate_-90 { /*逆時針旋轉*/
    animation: rotation_-90 1s;
    animation-fill-mode: forwards;
    -webkit-animation: rotation_-90 1s forwards;
}
@-webkit-keyframes rotation_-90 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes rotation_-90 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
.fadeIn { /*浮現*/
    animation: fadeIn 0.5s forwards;
    -webkit-animation: fadeIn 0.5s forwards;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
